body {
  background: rgb(42, 70, 48);
  color: white;
}

header {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background: pink;
}

.board {
  width: 1000px;
  background: black;
  display: flex;
}

.gallows {
  width: 500px;
  height: 500px;
  background: blue;
}

.user-field {
  width: 500px;
  height: 500px;
  background:yellow;
}

/* .grid {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  flex-wrap: wrap;
} */

.gridRow {
  display: flex;
  justify-content: space-around;
}

.gridCell {
  height: 70px;
  width: 35px;
  flex-grow: 1;
  background: gray;
  box-sizing: border-box;
  border: 2px solid white;
}

.sentence {
  width: 1000px;
  height: 200px;
  background:rgb(76, 12, 85);
}












.user-field {
	float: left; 
	width: 450px;
	text-align: center;
	min-height: 280px;
}

.litera
{
	width: 30px;
	height: 30px;
	text-align:center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.litera:hover
{
	background-color: #222222;
	color: white;
	border: 3px solid white;
}

.reset
{
	color:green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover
{
	color:white;
}

